"*":
  "atom-beautify":
    python:
      formater: "yapf"
      max_line_length: 80
      sort_imports: true
  "autocomplete-python":
    showTooltips: true
    useKite: false
    useSnippets: "required"
  "clang-format": {}
  "command-palette":
    preserveLastSearch: true
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "python-debugger"
      "linter-flake8"
      "linter"
      "linter-ui-default"
      "python-indent"
      "jupyter-notebook"
      "kite"
      "platformio-ide-terminal"
      "script"
      "python-autopep8"
      "language-python"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".scssc"
      ".sass-cache"
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      "node_modules"
      "packages"
      ".oh-my-zsh"
      ".vim"
      ".zsh"
      ".markdown"
      ".tags"
    ]
    packagesWithKeymapsDisabled: [
      "symbol-gen"
    ]
    telemetryConsent: "no"
  "custom-title":
    template: "<%= filePath %><% if (projectPath) { %> - <%= projectPath %><% if (gitHead) { %> [<%= gitHead %>]<% } %><% } %>"
  editor:
    fontSize: 13
    showIndentGuide: true
    showInvisibles: true
    tabLength: 2
    tabType: "soft"
  "exception-reporting":
    userId: "b5d099bd-a544-4e7a-91e1-19bcdab54826"
  "fuzzy-finder":
    preserveLastSearch: true
  "incremental-search":
    instantSearch: true
  kite:
    showKiteTourOnStatup: false
    sidebarWidth: 300
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview":
    useGitHubStyle: true
  "platformio-ide-terminal":
    core:
      shell: "/bin/zsh"
    style:
      animationSpeed: 10
      theme: "homebrew"
  "python-autopep8":
    formatOnSave: true
  "python-import-magic":
    pythonPaths: "/usr/local/bin/python3"
  "python-tools":
    smartBlockSelection: false
  "script-runner":
    extensions:
      ps1: "powershell –file"
      "spec.coffee": "mocha"
    scopes:
      coffee: "coffee"
      go: "go run"
      js: "node"
      powershell: "powershell -noninteractive -noprofile -c -"
      python: "python3"
      ruby: "ruby"
      shell: "bash"
  "symbols-tree-view": {}
  "tree-view":
    autoReveal: true
  welcome:
    showOnStartup: false
".python.regexp.source":
  editor:
    tabLength: 2
".python.source":
  editor:
    autoIndent: true
    tabLength: 2
