"*":
  "atom-beautify":
    python:
      indent_size: 4
      max_line_length: 80
      sort_imports: true
  "autocomplete-python":
    useSnippets: "required"
  "clang-format": {}
  "command-palette":
    preserveLastSearch: true
  core:
    closeEmptyWindows: false
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".scssc"
      ".sass-cache"
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      "node_modules"
      "packages"
      ".oh-my-zsh"
      ".vim"
      ".zsh"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  "custom-title":
    template: "<%= filePath %><% if (projectPath) { %> - <%= projectPath %><% if (gitHead) { %> [<%= gitHead %>]<% } %><% } %>"
  "exception-reporting":
    userId: "b5d099bd-a544-4e7a-91e1-19bcdab54826"
  "fuzzy-finder":
    preserveLastSearch: true
  "incremental-search":
    instantSearch: true
  kite:
    showKiteTourOnStatup: false
  "platformio-ide-terminal":
    core:
      shell: "/bin/zsh"
    style:
      animationSpeed: 10
      theme: "homebrew"
  "python-autopep8":
    formatOnSave: true
  runner:
    extensions:
      ps1: "powershell –file"
      "spec.coffee": "mocha"
    scopes:
      coffee: "coffee"
      go: "go run"
      js: "node"
      powershell: "powershell -noninteractive -noprofile -c -"
      python: "python3"
      ruby: "ruby"
      shell: "bash"
  welcome:
    showOnStartup: false
