# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
'atom-workspace':
  'ctrl-{': 'last-cursor-position:previous'
  'ctrl-}': 'last-cursor-position:next'
  'alt-ctrl-f': 'platformio-ide-terminal:focus'

'atom-text-editor':
  'ctrl-alt-f': 'platformio-ide-terminal:focus'
  # Start Line Jumper
  'ctrl-up': 'line-jumper:move-up'
  'ctrl-down': 'line-jumper:move-down'
  'ctrl-shift-up': 'line-jumper:select-up'
  'ctrl-shift-down': 'line-jumper:select-down'
  # End Line Jumper

'.platform-darwin atom-text-editor':
  'ctrl-r': 'script:run'
  'ctrl-shift-c': 'run:terminate'
  'ctrl-shift-r': 'script:run-with-profile'
  'ctrl-w': 'script:close-view'
  'ctrl-c': 'script:kill-process'
  # 'shift-cmd-j': 'script:run-by-line-number'
  # 'shift-cmd-i': 'script:run-options'

# '.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
#   'alt-r': 'run:script'
#   'alt-shift-r': 'run:copy'
# '.workspace':
  # 'cmd-w': 'Kite: Close Sidebar'

# '.platform-darwin .atom-runner':
#   'cmd-c': 'run:copy'

'.atom-script':
  'escape': 'run:exit'


# '.platform-darwin atom-text-editor':


# '.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
#   'shift-ctrl-b': 'script:run'
#   'shift-ctrl-alt-b': 'script:run-with-profile'
#   #'shift-enter': 'script:run'
#   #'ctrl-w': 'script:close-view'
#   'ctrl-q': 'script:kill-process'
#   'shift-ctrl-j': 'script:run-by-line-number'
#   'shift-ctrl-alt-o': 'script:run-options'


# '.platform-darwin atom-text-editor':
#   'ctrl-x': 'run:script'

# '.platform-darwin atom-workspace':
#   'ctrl-c': 'run:terminate'
#
# '.platform-linux atom-text-editor':
#   'alt-x': 'run:script'

# '.platform-linux atom-workspace':
#   'alt-c': 'run:terminate'

# Copy from script runner pane:
# '.platform-darwin .script-runner':
#   'cmd-c': 'run:copy'
#
# '.platform-linux .script-runner':
#   'ctrl-c': 'run:copy'
